/* Import font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  /* Colors scheme */
  --dark-blue: #021538;
  --white: #ffffff;

  /* Font weight scheme */
  --font-title: 600;
  --font-subtitle: 400;

  /* Other font properties */
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  color: var(--white);
}

body {
  /* order */
  display: flex;
  flex-flow: column wrap;
  /* align-items: center; */
  align-items: stretch;
  align-content: space-around;
  /* justify-content: center; */
  
  /* size */
  margin: 0.5rem;
  padding: 0.5rem;
  height: 100vh;
  width: 100vw;

  /* background color */
  background-color: var(--dark-blue);
}